<div class="container">
    <div
      class="alert"
      role="alert"
      style="padding-left: 0px;"
    >
      Don't have an account yet ? <a href="/blog/register">Register</a>
    </div>
  </div>