<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/nav') %>

    <div class="container alert text-center">Welcome to homepage</div>
    <%= user %> 
    <%- include('partials/script') %>
  </body>
</html>
